body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(236, 234, 234);
    padding-top: 135px;
    z-index: 90;
}

.bottom-img {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);   
    align-items: center;
}

#slad-tela-23-24-orig {
    width: 100%;
    
}

#img-footer {
    
}

