*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 91;
}

.top-header {
    background-color: rgb(221, 216, 216);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}


.left-section-top {
    padding: 10px 0px;
    font-size: calc(6px + 0.390625vw);
    margin-left: 170px;
    margin-right: 20px;
    color: #5e6461;
    text-transform: uppercase;
    flex-grow: 1;

}

.right-section-top {
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;
    margin-right: 20px;
    height: 50px;
    align-items: center;
}

.facebook-logo {
    width: 12px;
    margin-top: 2px;
    margin-right: 3px;
    transition: 0.05s;
}

.facebook-logo:hover {
    width: 16px;
    
}

.instagram-logo {
    width: 23px; 
    transition: 0.05s; 
}

.instagram-logo:hover {
    width: 30px;   
}

.nav {
    background-color: red;
    height: 75px;
    display: flex;

}

.right-section-nav {
    text-transform: uppercase;
    color: white;
    display: flex;
    margin-left: 130px;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 50px;
    flex-wrap: wrap;
    list-style-type: none;
}

li a {
    font-size: calc(11px + 0.390625vw);
    position: relative;
    text-decoration: none;
    color: rgb(221, 219, 219);
    letter-spacing: 0.5px;
}

li a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

a:hover {
    color: white;
}

li a:hover:after {
    width: 100%;
    
}

.icon {
    font-size: 35px;
    display: none;
}

.icon:hover:after {
    display: none;
}

.slad-logo {
    width: 150px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    z-index: 100;
}


@media (min-width: 1250px) {
    .left-section-top {
        font-size: 11px;
    }
}

@media (max-width: 770px) {
    .nav {
        display: block;
    }
    
    .right-section-nav li a {display: none;}
    .right-section-nav a.icon {
        display: flex;  
        justify-content: end;
        padding-top: 18px;
        margin-right: 20px;
    }

    .right-section-nav {
        margin-left: 0;
        display: block; 
    }

    .right-section-nav.responsive {
        display: block;
        position: relative;
        background-color: rgb(0, 0, 0);
        padding-left: 150px;
        padding-top: 1px;
        padding-bottom: 2px;
        transition: padding 0.5s;
        transition-timing-function: ease-out;
    }

    .right-section-nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .right-section-nav.responsive li a{
        display: block;
        text-align: start;
        font-size: 35px;
        margin-bottom: 20px;
    }

    li a:hover:after {
        width: 0;   
    }

    .left-section-top {
        margin-left: 150px;
    }
}

@media (max-width: 375px) {
    .right-section-nav.responsive li a{
        font-size: 30px;
    }
}