.results-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 80px auto;
    margin-bottom: 70px;
    position: relative;
    max-width: 1424px;
}


.results-grid {
    display: grid;
    width: 325px;
    margin: 30px 0 20px 0px;
    border-right: 1px solid black;
    grid-template-columns: 120px 125px 50px;
    grid-template-rows: 45px 75px 75px;
    font-size: 18px;
}

.date {
/*     text-align: center; */
    padding-left: 10px;
}

.logo {
/*     text-align: center; */
}

.logo-1 {
    width: 80px;
}

.logo-2 {
    width: 80px;
}

.age-group {
    padding-top: 8px;
    padding-left: 8px;
    font-weight: 600;
}

.team {
    padding-top: 28px;
    padding-left: 10px;
}

.result {
    padding-left: 20px;
    padding-top: 22px;
    font-size: 25px;
}

@media (max-width: 1635px) {
    .results-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .results-grid {
        font-size: 16px;
    }

    .result {
        font-size: 23px;
    }

    .grid1, .grid3 {
        justify-self: end;
    }

    .grid2, .grid4 {
        justify-self: start;
    }
}

@media (max-width: 989px) {
    .results-main {
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 0px;
        padding-left: 0;
    }

    .results-grid {
        font-size: 14px;
    }

    .result {
        font-size: 21px;
    }

    .grid1, .grid3 {
        justify-self: center;
    }

    .grid2, .grid4 {
        justify-self: center;
    }
}

